[submodule "refers/vite"]
	path = refers/vite
	url = git@github.com:vitejs/vite.git
[submodule "refers/oxc"]
	path = refers/oxc
	url = git@github.com:oxc-project/oxc.git
[submodule "refers/rolldown"]
	path = refers/rolldown
	url = git@github.com:rolldown/rolldown.git
[submodule "refers/rs-napi"]
	path = refers/rs-napi
	url = git@github.com:napi-rs/napi-rs.git
[submodule "refers/unplugin"]
	path = refers/unplugin
	url = git@github.com:unjs/unplugin.git
[submodule "refers/node"]
	path = refers/node
	url = git@github.com:nodejs/node.git
[submodule "refers/connect"]
	path = refers/connect
	url = git@github.com:senchalabs/connect.git
[submodule "refers/finalhandler"]
	path = refers/finalhandler
	url = git@github.com:pillarjs/finalhandler.git
[submodule "refers/utils-merge"]
	path = refers/utils-merge
	url = git@github.com:jaredhanson/utils-merge.git
[submodule "refers/parseurl"]
	path = refers/parseurl
	url = git@github.com:pillarjs/parseurl.git
[submodule "refers/ee-first"]
	path = refers/ee-first
	url = git@github.com:jonathanong/ee-first.git
[submodule "refers/on-finished"]
	path = refers/on-finished
	url = git@github.com:jshttp/on-finished.git
[submodule "refers/statuses"]
	path = refers/statuses
	url = git@github.com:jshttp/statuses.git
[submodule "refers/escape-html"]
	path = refers/escape-html
	url = git@github.com:component/escape-html.git
[submodule "refers/encodeurl"]
	path = refers/encodeurl
	url = git@github.com:pillarjs/encodeurl.git
