.DS_Store
*.log
*.swp
*.tgz
*.zip
*~

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist

.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.eslintcache
tsconfig.tsbuildinfo
__screenshots__
test-results
.output
.output-shared
.playwright-cli
.wrangler

# for projects
packages/unplugin-service-worker/e2e/playground/add.wasm

.notes
.todo.md
