[submodule "refers/vite"]
	path = refers/vite
	url = git@github.com:vitejs/vite.git
[submodule "refers/oxc"]
	path = refers/oxc
	url = git@github.com:oxc-project/oxc.git
[submodule "refers/rolldown"]
	path = refers/rolldown
	url = git@github.com:rolldown/rolldown.git
[submodule "refers/rs-napi"]
	path = refers/rs-napi
	url = git@github.com:napi-rs/napi-rs.git
[submodule "refers/unplugin"]
	path = refers/unplugin
	url = git@github.com:unjs/unplugin.git
[submodule "refers/node"]
	path = refers/node
	url = git@github.com:nodejs/node.git
[submodule "refers/hono"]
	path = refers/hono
	url = git@github.com:honojs/hono.git
[submodule "refers/emnapi"]
	path = refers/emnapi
	url = git@github.com:toyobayashi/emnapi.git
[submodule "refers/memfs-browser"]
	path = refers/memfs-browser
	url = git@github.com:toyobayashi/memfs-browser.git
[submodule "refers/memfs"]
	path = refers/memfs
	url = git@github.com:toyobayashi/memfs.git
