[submodule "vite"]
	path = vite
	url = git@github.com:vitejs/vite.git
[submodule "rolldown"]
	path = rolldown
	url = git@github.com:rolldown/rolldown.git
[submodule "oxc"]
	path = oxc
	url = git@github.com:oxc-project/oxc.git
