pnpm-lock.yaml
package.json
packages/**/docs/

# ignores for vite-dev-server package, because it will be forked from `vite` and maintained separately, preventing conflicts.
packages/vite-dev-server/

refers
.output
